<footer class="site-footer">
  <div class="container">
    <p>&copy; {{year}} DC Tech Events. <a href="/newsletter.html">Newsletter</a> | <a href="https://github.com/rosskarchner/dctech.events">GitHub</a></p>
  </div>
</footer>
