<header>
  <h1 class="logo"><a href="/">DC Tech Events</a></h1>
  <div>
    <div>Technology conferences and meetups in and around Washington, DC</div>
    <nav>
      <a href="/locations/">Locations</a> |
      <a href="/topics/">Topics</a> |
      <a href="/groups/">Groups</a> |
      {{#if isAuthenticated}}
      <a href="/submit/">Submit Event</a> |
      <a href="/settings">Settings</a> |
      <a href="/logout">Log Out</a>
      {{else}}
      <a href="/login">Sign In</a>
      {{/if}}
    </nav>
  </div>
</header>